{% extends "base.html" %}

{% block content %}
<body>
    <main class="container">
        <div class="py-5">
          <h2>Articles</h2>
          <p class="lead">All articles</p>
        </div>
        <div>
            <h2 class="pb-2 border-bottom">Categories</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                {% for category in categories %}
                  <div class="col d-flex align-items-start">
                    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
                    <div>
                      <a href="{{ url_for('articles.category', category_id=category.id) }}" class="fw-bold mb-0 fs-4">{{ category.name }}</a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
{% endblock %}