{% extends "base.html" %}

{% block content %}
<body>
    <main class="container">
        <div class="py-5">
          <h2>{{ tag.name }}</h2>
          <p class="lead">All articles in tag</p>
        </div>
        <div class="row mb-2">
            <h2 class="pb-2 border-bottom">Articles</h2>
            {% for article in tag.articles %}
                <div class="col-md-6">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <strong class="d-inline-block mb-2 text-primary">{{ article.category_articles.name }}</strong>
                      <h3 class="mb-0">{{ article.name }}</h3>
                      <p class="card-text mb-auto">{{ article.text|truncate(10, True) }}</p>
                      <a href="{{ url_for('articles.article', article_id=article.id) }}" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                      <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    </div>
                  </div>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
{% endblock %}